<div class="container">
  <div class="note-options-container">
    <div class="note-options">
      <button class="add-button" mat-flat-button routerLink="form">
        + New Note
      </button>
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </div>
  </div>
  <div class="notes-list">
    <div class="no-notes">
      <ng-container *ngIf="filteredNotes.length === 0; else notesCount">
        <div >No notes to show</div>
      </ng-container>
      
      <ng-template #notesCount>
        <div class="note-count">Total Notes: {{ filteredNotes.length }}</div>
      </ng-template>
    </div>
    
    <app-note-card
      *ngFor="let note of filteredNotes"
      [link]="note.id"
      [@itemAnim]
      (remove)="removeNote(note.id)"
      [title]="note.title"
      [content]="note.content"
    ></app-note-card>
  </div>
</div>
